* {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.rent {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    padding-top: 50px;
    min-height: 100%;
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    margin: 10px 20px;
    margin-bottom: 100px;
}

.title__text {
    color: darkgoldenrod;
}

.list {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.item {
    max-width: 100px;
    text-align: center;

}

.item__img {
    height: 50px;
}

.item__text {}

.btn {
    background-color: yellow;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px 1px orange;
}

.img {
    max-width: 1000px;
    width: 80%;
}

.item::after {
    content: "☺";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn__block {
    text-align: center;
    padding: 50px 0px 50px;
}

.btn:hover {
    background-color: orange;
    cursor: pointer;
}

.btn:active {
    transform: translate(1px, 1px);
}

.img:active {
    transform: translate(3px, 3px);
}

@media(max-width:769px) {
    .rent {
        background-color: darkblue;

    }

    .img {
        max-width: 300px;

    }
}

@media(max-width:426px) {
    .rent {
        background-color: black
    }

    .img {
        display: none;
    }
}